@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  .custBtn{
    @apply 
  }
} */



.headFont{
  font-family: 'Press Start 2P', cursive;
}
.component-b {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.component-b.hide {
  opacity: 0;
}

.flip {
  @apply [transform:rotateY(180deg)] [transform-style:preserve-3d]  ;
}

.preventClick {
  @apply cursor-default  ;
}